<script src="//lightwidget.com/widgets/lightwidget.js"></script>
<div class="container-fluid">
			<div class="row">
				<!-- TOP BANNER -->
				<!--<div class="top-banner" style="background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-369258.jpg');">-->
                <div class="top-banner logo-background" >
					<!--<video id="video" class="top-banner-video" loop preload="metadata">
						<source src="" type="video/webm; codecs=vp9">
						<source src="" type="video/webm">
						<source src="" type="video/mp4">
					</video>-->
					<div class="top-banner-header logo-transparent">
						<div class="inner">
							<header id="header-container" class="middle">
								<div class="white big text-center main-logo-container"><img  class="logo-img img-responsive" src="img/IMG_0218.JPG" alt=""><h4 class="main-logo">JSTC</h4></div>
							</header>
							<!--<p class="air-up">
								<button id="play-video" class="button button-primary-orange-hollow"><i class="fa fa-play"></i> Play video <span data-video-duration="0">0</span><span class="lowercase">s</span></button>
							</p>-->
						</div>
				

		
					</div>


					<!-- LightWidget WIDGET --><iframe id="frame" src="//lightwidget.com/widgets/68781ee5b8935ab192719051d9bbbc41.html" scrolling="no" allowtransparency="true" class="  lightwidget-widget insta-widget"></iframe>

		
			<a class="insta-icon" >
					<i class="fa  fa-5x fa-instagram " data-toggle="collapse" data-target="#insta-collapse"></i>	
				</a>
				<a class="fb-icon" >
					<i class="fa  fa-5x fa-facebook-square  " data-toggle="collapse" data-target="#insta-collapse"></i>	
				</a>
				<a class="tumblr-icon" >
					<i class="fa  fa-5x  fa-tumblr-square " data-toggle="collapse" data-target="#insta-collapse"></i>	
				</a>
				

						

		

	
				
				</div>

			</div>
			<!-- END OF TOP BANNER -->
			<!--<div class="row entry-slice pd-t">-->
				<!-- TOP BANNER -->
				<!--<div class="top-banner" style="background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-24753.jpg');">
					<div class="top-banner-header">
						<div class="inner">
							<header id="middle-container" class="middle">
								<h2 class="white big text-center">Explore Nature</h2>
							</header>
						</div>
					</div>
				</div>
			</div>-->
			<div class="epk-title-container row pd">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="row">
						<div class="col-md-12">
							<h1 class="header text-center">EPK</h1>
							<div class="thin-line"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- ROW FOR EXPLORE PLACES -->
			<div class="epk-container row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<!-- FIRST ROW OF TOP 6 PLACES -->
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-12">
							<h2 class="black-lighter">Story</h2>
							<!--<div class="newsfeed-box" style="background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-280027.jpg')">-->
                            <div class="newsfeed-box" style="background-image: url('macleft.jpg')">
								<div class="newsfeed-box-content" data-rating-score="GBM">
									<div class="newsfeed-box-content-inner">
										<h2 class="white">Justice</h2>
										<p></p>
									</div>
									<p><a href="#" class="button button-primary-blue">Read review</a>
									</p>
								</div>
								<div class="newsfeed-box-reviews">
									<div class="newsfeed-box-reviews-inner">
										<h2 class="orange">About Me<i class="fa fa-star"></i></h2>
										<p class="white">Name: </p>
										<p class="white">Style: </p>
										<p class="white"></p>
									</div>
									<p>
										<a href="#" class="button button-primary-orange">Close review</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12">
							<h2 class="black-lighter">Music</h2>
							<div class="newsfeed-box" style="background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-280025.jpg')">
								<div class="newsfeed-box-content" data-rating-score="7.15">
									<div class="newsfeed-box-content-inner">
										<h2 class="white">Header 2</h2>
										<p></p>

									</div>
									<p><a href="#" class="button button-primary-blue">Read review</a>
									</p>
								</div>
								<div class="newsfeed-box-reviews">
									<div class="newsfeed-box-reviews-inner">
										<h2 class="orange">7.15 <i class="fa fa-star"></i></h2>
										<p class="white"></p>
										<p class="white"></p>
										<p class="white">"Great sound." - Charlie</p>
									</div>
									<p>
										<a href="#" class="button button-primary-orange">Close review</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-4 col-xs-12">
							<h2 class="black-lighter">Story</h2>
							<div class="newsfeed-box" style="background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-279692.jpg')">
								<div class="newsfeed-box-content" data-rating-score="8.23">
									<div class="newsfeed-box-content-inner">
										<h2 class="white">Music 2</h2>
										<p>AMAZING</p>
									</div>
									<p><a href="#" class="button button-primary-blue">Read review</a>
									</p>
								</div>
								<div class="newsfeed-box-reviews">
									<div class="newsfeed-box-reviews-inner">
										<h2 class="orange">8.23 <i class="fa fa-star"></i></h2>
										<p class="white">"Amazing and beautiful!" - Haley</p>
										<p class="white"></p>
										<p class="white"></p>
									</div>
									<p>
										<a href="#" class="button button-primary-orange">Close review</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- END OF FIRST ROW -->
					<!-- SECOND ROW OF TOP 6 PLACES -->
					<div class="row pd">
						<div class="col-md-6 col-sm-4 col-xs-12">
							<h2 class="black-lighter">Music 3</h2>
							<div class="newsfeed-box" style="background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-279694.jpg')">
								<div class="newsfeed-box-content" data-rating-score="9.2">
									<div class="newsfeed-box-content-inner">
										<h2 class="white">Header 2</h2>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
									</div>
									<p>
										<a href="#" class="button button-primary-blue">Read review</a>
									</p>
								</div>
								<div class="newsfeed-box-reviews">
									<div class="newsfeed-box-reviews-inner">
										<h2 class="orange">9.2 <i class="fa fa-star"></i></h2>
										<p class="white">"CSS3 is such a cool place" - Robert</p>
										<p class="white"></p>
										<p class="white"></p>
									</div>
									<p>
										<a href="#" class="button button-primary-orange">Close review</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12">
							<h2 class="black-lighter">Music 4</h2>
							<div class="newsfeed-box" style="background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-279696.jpg')">
								<div class="newsfeed-box-content" data-rating-score="8.62">
									<div class="newsfeed-box-content-inner">
										<h2 class="white">header 3</h2>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
									</div>
									<p>
										<a href="#" class="button button-primary-blue">Read review</a>
									</p>
								</div>
								<div class="newsfeed-box-reviews">
									<div class="newsfeed-box-reviews-inner">
										<h2 class="orange">8.62 <i class="fa fa-star"></i></h2>
										<p class="white">"Rap is so good" - Sarah</p>
										<p class="white"></p>
										<p class="white"></p>
									</div>
									<p>
										<a href="#" class="button button-primary-orange">Close review</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12">
							<h2 class="black-lighter">Music 5</h2>
							<div class="newsfeed-box" style="background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-280048.jpg')">
								<div class="newsfeed-box-content" data-rating-score="9.0">
									<div class="newsfeed-box-content-inner">
										<h2 class="white">Header 4</h2>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
									</div>
									<p>
										<a href="#" class="button button-primary-blue">Read review</a>
									</p>
								</div>
								<div class="newsfeed-box-reviews">
									<div class="newsfeed-box-reviews-inner">
										<h2 class="orange">9.0 <i class="fa fa-star"></i></h2>
										<p class="white">"gaga" - Toni</p>
										<p class="white">"" - Holly</p>
										<p class="white">"" - Alexandra</p>
									</div>
									<p>
										<a href="#" class="button button-primary-orange">Close review</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END OF SECOND ROW -->
			<!-- EXPLORE BANNER -->
		</div>
        <div class="row">
		<!-- TOP BANNER -->
		<div class="top-banner" style="background-image: url('img/contact-pic.JPG');">
			<div id="contactBox"class="top-banner-header contact-box">
				<div class="inner">
					<header id="bottom-container" class="middle">
						<h2 class="white big text-center">Contact Us</h2>
						<span id="strategy-5" class="hidden">lll</span>
						<p class="lead white normal text-center">For additional information</p>
					</header>
					<div class="col-md-4 col-md-offset-2 col-sm-12">
						<button class="button button-primary-orange" data-toggle="modal" data-target="#modal" data-modal-toggle="5">Sign up now</button>
					</div>
					<div class="col-md-4 col-sm-12">
						<button class="button button-primary-orange-hollow" id="scroll-top">Back to top</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END OF TOP BANNER -->